* {
  background-color: rgb(56, 56, 56);
  color: aliceblue;
}

.meals {
  background-color: rgb(56, 56, 56);
  color: aliceblue;
}

.title {
  font-family: Montserrat , sans-serif;
  font-size: 3.5em;
  font-weight: 900;
  text-align: center;  
}

.btn-category {
  background-color: chocolate;
  width: 220px;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  font-family: Montserrat , sans-serif;
  font-size: 1.5em;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-category:hover {
  background-color: darkorange;
}

.carrossel-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  max-width: 320px;
}

.carrossel-container img {
  margin: 5px;
}

.btn-start-recipe {
  position: fixed;
  bottom: 0;
  right: 0;
}

.recipes-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
}


.recipes-item {
  margin: 20px;
  background-color: rgb(99, 99, 99);
  max-width: 250px;
  padding: 10px;
  text-align: center;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
